* {
    font-family: "Poppins";
  }
  
  body {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAEED1;
    height: 100vh;
    font-family: "Poppins";
  }
  
  .screen-1 {
    background: #FDF7E4;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #FDF7E4;
    gap: 2em;
  }
  .screen-1 .logo {
    margin-top: -3em;
  }
  .screen-1 .email {
    background: white;
    box-shadow: 0 0 2em #FDF7E4;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: -3em;
    margin-bottom: 1em;
  }
  .screen-1 .email input {
    outline: none;
    border: none;
  }
  .screen-1 .email input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .email input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .email input::placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .email ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
  }
  .screen-1 .password {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin: 1em 0 1em 0;
  }
  .screen-1 .password input {
    outline: none;
    border: none;
  }
  .screen-1 .password input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .password input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .password input::placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-1 .password ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
  }
  .screen-1 .password .show-hide {
    margin-right: -5em;
  }
  .screen-1 .login {
    padding: 1em;
    background: #BF3131;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
  }
  .screen-1 .footer {
    display: flex;
    font-size: 0.7em;
    color: #5e5e5e;
    gap: 14em;
    padding-bottom: 2em;
  }
  .screen-1 .footer span {
    cursor: pointer;
  }
  
  button {
    cursor: pointer;
  }





.centered-div {
    width: 300px; /* Adjust width as needed */
    margin: 0 auto; /* This will center the div horizontally */
    padding: 20px; /* Just for spacing */
}

.conc-image {
    width: 100px;
    height: 100px;
    padding: 1em;
    border-radius: 20px;
    display: block;
    padding-bottom: 2em;
}

.conc-fav {
  width: 4.25em;
  height: 4.25em;
  margin-top: 20px;
  margin-left: 6px;  
}

.indu {
  display: flexbox;
}


.header-index {
  background-color: #BF3131;
  height: 3.5em;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
}

.navbar-head{
  margin-left: auto!important;
}
.header-heading {
  display: inline;
  margin-left: 10px;
  margin-top: 11px;
  color: rgba(255,255,255,.5)
}

.dashboard {
  background-color: #FAEED1;
  height: 100%;
  width: 102em;
  border-radius: 20px 0 0 0;
  margin-top: 7em;
  margin-left: 74px!important;
  box-shadow: 5px 10px 18px black;
}

.index {
  background-color: #BF3131!important;
}